@use "../plugins/bootstrap-5.1.3-dist/css/bootstrap.min.css";
@use "../plugins/prism/prism.css";
@use "../plugins/select2-4.1.0-rc.0/dist/css/select2.min.css";
@use "../../node_modules/simplemde/dist/simplemde.min.css";
@use "general";
@use "form";

table.dataTable > tbody > tr.marked-card {
    background-color: #fff3cd;
}

.marked-card__icon {
    background: #000;
    color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
}

.decks__table-header {
    width: 50%;
}

.decks__import-button {
    width: 100%;
}

.study__buttons-container {
    display: grid;
}

@media screen and (min-width: 767px) {
    .decks__table-header {
        width: auto;
    }

    .decks__import-button {
        width: auto;
    }

    .study__buttons-container {
        grid-template-columns: repeat(5, max-content);
    }
}
